.orderItemList {
    display: flex;
    padding: 0 10rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.orderHeader {
    margin: 30px;
}

.cartItem {
    height: fit-content;
}

.card {
    height: fit-content;
}

.cardBody {
    background-color: rgb(183, 217, 228);
    border-radius: 1%;
}
