.orderItemList {
    margin-top: 80px;
}

.order {
    width: 220px;
    height: 300px;
    margin: 20px;
    background-color: gray;
}

.orderHeader {
    margin: 30px;
}

.orderList {
    display: flex;
    flex-wrap: wrap;
    height: -webkit-fill-available;
    align-content: baseline;
}

.cartItem {
    height: fit-content;
}

.card {
    height: fit-content;
    background-color: gray;
}

.orderCardBody {
    background-color: rgb(183, 217, 228);
    border-radius: 1%;
    color: black;
    height: 10em;
}
