.inventoryList {
    display: flex;
    padding: 0 10rem;
    margin-top: 6.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inventory {
    width: 300px;
    height: 300px;
    margin: 20px;
}

.card {
    height: fit-content;
}

.cardBody {
    background-color: rgb(183, 217, 228);
    border-radius: 1%;
}

.button {
    margin: 2px;
}
