.navBar {
    background-color: black;
    margin-bottom: 10em;
    height: 6.5em;
}

.navLink {
    color: rgb(173, 173, 173);
    font-size: large;
}

.navImage {
    width: 55px;
    height: 55px;
}

.fixed-top {
    bottom: 33.4em;
}